# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
frontend/node_modules/

# Production
dist/
frontend/dist/
dist-ssr/
frontend/dist-ssr/

# IDE / System
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
